<div class="container">
  <p>Your information</p>

  <p>Name : <%= @user.name %></p>
  <p>Email : <%= @user.email %></p>
  <p><a href="/password">Password</a></p>
  <br>

  <% if @list_urls %>
    <% @list_urls.each do |url| %>
      <p><%= url.long %> --- http://localhost:9393/a/<%= url.short %> --- count: <%= url.count %></p>
    <% end %>
  <% end %>



  <p><a href="/">Go HOME</a></p>
  <h2><a href="/logout">LOGOUT</a></h2>
</div>
